absl-py==0.9.0
backcall==0.2.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.1.0
certifi==2020.12.5
cffi==1.14.0
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
dgl==0.5.3
future==0.18.2
google-auth @ file:///tmp/build/80754af9/google-auth_1594357566944/work
google-auth-oauthlib==0.4.1
grpcio==1.27.2
gym==0.9.1
idna==2.10
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.1
kiwisolver==1.2.0
Markdown==3.1.1
matplotlib==3.3.1
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
mpmath==1.1.0
networkx==2.5
numpy==1.19.4
oauthlib==3.1.0
olefile==0.46
pandas==1.0.5
parso==0.7.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
protobuf==3.12.3
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pyglet==1.5.13
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.0
scipy==1.5.4
seaborn==0.10.1
six==1.15.0
sympy==1.6.2
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorboardX==2.1
torch==1.5.0
torchvision==0.6.0
tqdm==4.46.1
traitlets==4.3.3
urllib3==1.26.2
wcwidth==0.2.4
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
